
include pyproject.toml

# Include the README
include *.md

# Include the license file
include LICENSE

# Include setup.py
include setup.py

include *
include blueprint/lib/*
include blueprint/schema/*
include blueprint/circuit/*
include blueprint/merge/*
include blueprint/validate/*
